node_modules
package-lock.json
.DS_Store
generated_*
src/.env*
index.hbs
output/*
save*
.env
*.ttf
*.otf
*.woff2
/cv-generator-back/output/*
/cv-generator-back/dist/*
/cv-generator-front/.next
commands.txt


